html
, body
, div
, ul
, li
, a {
	margin: 0;
	padding: 0;
}

ul {
	list-style-type: none;
}

.wrapper {
	width: 400px;
	height: 500px;
	margin: 100px auto;
	background: url('images/bg.jpg') repeat;
}

.wrapper .list {
	position: relative;
	width: 292px;
	margin: 0 auto;
}

.list li {
	position: absolute;
	left: 106px;
}

.list .list-top {
	background: url('images/top.png') 50% 3% no-repeat;
	width: 292px;
	height: 81px;
	top: 0;
	left: 0;
}

.select {
	top: 42px;
}

.add {
	top: 94px;
}

.edit {
	top: 146px;
}

.share {
	top: 198px;
}

.wrapper ul a {
	display: inline-block;
	height: 52px;
	width: 80px;
}

.select a {
	background: url('images/select.png') no-repeat;
}

.add a {
	background: url('images/add.png') no-repeat;
}

.edit a {
	background: url('images/edit.png') no-repeat;
}

.share a {
	background: url('images/share.png') no-repeat;
}