html
, body
, div
, ul
, li
, a {
	margin: 0;
	padding: 0;
}

body{
	background: url('images/bg.jpg') repeat;
}

ul {
	list-style-type: none;
}

img {
	border: none;
}

.wrapper {
	width: 400px;
	margin: 100px auto;
}

.list {
	position: relative;
	width: 292px;
	margin: 0 auto;
}

.list li {
	position: absolute;
	left: 106px;
}

.list .list-top {
	background: url('images/top.png') 50% 3% no-repeat;
	width: 292px;
	height: 81px;
	top: 0;
	left: 0;
}

.select {
	top: 42px;
}

.add {
	top: 94px;
}

.edit {
	top: 146px;
}

.share {
	top: 198px;
}

.item img {
	-webkit-transform-origin: 50% 0;
	-moz-transform-origin: 50% 0;
	-ms-transform-origin: 50% 0;
	transform-origin: 50% 0;
}

.list:hover img {
	/*-webkit-transform: scale(1,0.5);*/
}